.barra {
    background-color: rgb(120, 204, 240)
}
.barra> .titulo {
    background-color: rgb(15, 67, 89);
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 5px 0px 0px 10px;
}
div.separador {
    margin-top: 1em;
}
code {
    color: rgb(162, 19, 116);
}
table.protocolo {
    border: 1px solid black;
    font-size: 30px;
}
table.protocolo th {
    color: white;
    background-color: rgb(100, 100, 100);
}
table.protocolo td {
    background-color: white;
    border: 1px solid black;
}

span.important {
    color: rgb(0, 74, 186);
    font-variant: small-caps;
    font-weight: bold;
}

div.important {
    background-color: #FFFFD0;
}

td.http_code {
    font-family: monospace;
    font-size: 30px;
}

.arrow_box_left {
	position: relative;
	background: #410066;
  color:white;
  font-weight: bold;
}

.arrow_box_left:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(65, 0, 102, 0);
	border-right-color: #410066;
	border-width: 10px;
	margin-top: -10px;
}

.no_arrow_box {
	position: relative;
	background: #410066;
  color:white;
  font-weight: bold;
}

.ingles {
  font-style: italic !important;
}

strong {
  color: #B71234;
}

p code {
  font-size: 0.9em !important;
}

iframe.example {
  border: 2px solid #B71234;
  width: 90%;
}
